<% container_class = if assigns[:full_width], do: "full-width", else: "container" %>

<main class="main-content">
  <div class={container_class}>
    <.render_flash flash={@flash} />
    {render_slot(@inner_block)}
  </div>
</main>